{% load static %}
<header id="header">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-2 col-md-2 mob">
                    <img src="{% static 'img/hamburger.svg' %}" alt="hamburger" class="header__mobMenu">
                </div>
                <div class="col-5 col-md-3 col-lg-2">
                    <a href="/">
                        <img src="{% static 'img/Logo.svg' %}" alt="Logo" class="logo header__logo">
                    </a>
                </div>
                <div class="col-md-5 ">
                    <nav>
                    <ul class="menu">
                        <li class="menu__item"><a href="{% url 'info' %}#masters" class="menu__item_link">Мастера</a></li>
                        <li class="menu__item"><a href="{% url 'info' %}#services" class="menu__item_link">Услуги</a></li>
                        <li class="menu__item"><a href="{% url 'info' %}#reviews" class="menu__item_link">Отзывы</a></li>
                        <li class="menu__item"><a href="{% url 'info' %}#contacts" class="menu__item_link">Контакты</a></li>
                    </ul>
                </nav>
                </div>
                <div class="col-2 col-md-2 col-lg-3">
                    <div class="header__block">
                        <a href="{% url 'info'%}#contacts"><button class="header__block_btn">Перезвоните мне</button></a>
                        <div class="header__block_auth">

                            {% if request.user.is_authenticated %}
                                {% if not request.user.avatar %}
                                    <img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
                                {% else %}
                                    <img src="{% static request.user.avatar %}" alt="account" class="header__account_img">
                                {% endif %}
                                <a href="{% url 'notes' %}"><span class="header__block_auth__intro">{{request.user}}</span></a>
                            {% else %}
                                <img src="{% static 'img/acc.svg' %}" alt="account" class="header__account_img">
                                <a href="{% url 'accounts:login' %}"><span class="header__block_auth__intro">Войти</a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>