{% extends 'base.html' %}
{% load static %}

{% block header %}
<li id="start" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    {% include 'header.html' %}
    </li>
{% endblock header %}
{% block sections %}
<main style="margin-top: calc(2rem + 85px); margin-left: calc(2rem + 85px);">
    <section id="salons">
		<div class="container">
			<div class="salons pb100">
				<div class="salons__slider_arrows fic mob">
					<div class="title">Наши салоны</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				<div class="title dec">Наши салоны</div>

				<div class="row">
					{% for salon in salons %}
					<div class="col-6 col-md-4 col-lg-4 col-xl-3">
						<div class="salons__block">
							<img src="{% get_media_prefix %}{{salon.img}}" alt="salon" class="salons__block_img">
							<div class="salons__elems">
								<div class="block__title salons__elems_title">{{ salon.title}}</div>
								<div class="salons__elems_light">{{ salon.address }}</div>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="col-6 col-md-4 col-lg-4 col-xl-3 decVis">
						<div class="salons__block">
							<img src="{% static 'img/salons/salon1.svg' %}" alt="salon" class="salons__block_img">
							<div class="salons__elems">
								<div class="salons__elems_title">-</div>
								<div class="salons__elems_light">-</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

    <section id="services">
		<div class="container">
			<div class="services pb100">
				<div class="services__slider_arrows fic">
					<div class="title">Услуги</div>
				</div>
				<div class="row">
					{% for service in services %}
					<div class="col-md-3">
						<div class="cardBlock services__block">
							<img src="{% get_media_prefix %}{{service.img}}" alt="service" class="services__block_img">
							<div class="services__elems">
								<div class="services__elems_title">{{ service.title }}</div>
                                <div class="services__elems_title">Длительность: {{ service.duration }}</div>
								<div class="services__elems_light">{{ service.price }}</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

    <section id="masters">
		<div class="container">
			<div class="masters pb100">
				<div class="masters__slider_arrows fic">
					<div class="title">Мастера</div>
				</div>

				<div class="row">
					{% for master in masters %}
					<div class="col-md-3">
						<div class="cardBlock masters__block">
							<div class="masters__header fic">
								<img src="{% get_media_prefix %}{{ master.img }}" alt="master" class="masters__header_img">
								<div class="masters__header_elmes">
									<div class="masters__header_name">{{ master.name }}</div>
									<img src="{% get_media_prefix %}{{master.rating_img}}" alt="rating" class="masters__header_rating">
									<div class="masters__header_reviews">{{ master.review }}</div>
								</div>
							</div>
							<div class="masters__main">
								<div class="masters__main_speciality">СПЕЦИАЛЬНОСТЬ:</div>
								<div class="masters__main_intro">{{ master.position }}</div>
							</div>
							<div class="masters__footer fic">
								<div class="masters__footer_block">
									<div class="masters__footer_light">СТАЖ РАБОТЫ:</div>
									<div class="masters__footer_num">{{ master.experience }}</div>
								</div>
								<button onclick="location.href='{% url 'appointment:service' %}?master_id={{ master.id }}'" class="masters__footer_btn" >Записаться</button>
							</div>
                            <br>
                            <div class="masters__footer_block">
                                <div class="masters__footer_light">РАСПИСАНИЕ:</div>
                                {% if master.schedule %}
                                    {% for schedule in master.schedule %}
                                        <div class="masters__footer_num">{{schedule.date}} - {{schedule.salon}}<br>{{schedule.start_time}} - {{schedule.end_time}}</div>
                                        <br>
                                    {% endfor %}
                                {% else %}
                                    <div class="masters__footer_num">Сегодня и в ближайшие два дня мастер не работает.</div>
                                {% endif %}
                            </div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

    <section id="reviews">
		<div class="container">
			<div class="reviews pb100">
				<div class="reviews__slider_arrows fic">
					<div class="title">Отзывы</div>
				</div>

				<div class="row">
					{% for review in reviews %}
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">{{ review.name }}</div>
							<img src="{% static review.rating_img %}" alt="rating" class="reviews__header_rating">
							<div class="reviews__block_text">
								{{ review.text }}
							</div>
							<div class="reviews__block_date">{{ review.date }}</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>


    <section id="contacts">
		<div class="container">
			<div class="reviews pb100">
				<div class="reviews__slider_arrows fic">
					<div class="title">Контакты</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<div class="reviews__block">
							<div class="reviews__name">Телефон:</div>
                            <div class="contacts__info_tel">{{contacts.phone_number}}</div>
                            <br>
							<div class="reviews__name">Электронная почта:</div>
                            <div class="contacts__info_tel">{{contacts.email}}</div>
                            <div class="contacts__social">
								<div class="contacts__social_title">соц. сети</div>
								<div class="contacts__social_block fic">
									<a href=""><img src="{% static 'img/wa.svg' %}" alt="wa" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/vk.svg' %}" alt="vk" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/tg.svg' %}" alt="tg" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/insta.svg' %}" alt="insta" class="contacts__social_icon"></a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock sections %}

{% block footer %}
    <li id="end">
    {% include 'footers.html' %}
    </li>
{% endblock footer %}

{% block scripts %}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{% static 'js/air-datepicker.js' %}"></script>
		<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}
