{% extends 'base.html' %}
{% load static %}

{% block head-extra %}
	<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock head-extra %}

{% block mob-menu %}
	{% include 'mob_menu.html' %}
{% endblock mob-menu %}

{% block header %}
	{% include 'header.html' %}
{% endblock header %}

{% block sections %}
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="#" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<button class="service__btn btn">Запись по телефону</button>
				</div>
        <form action="{% url 'appointment:approve_appointment' %}" class="service__form" id="serviceForm">
          <label for="salon">Выберите салон</label>
          <select name="selectSalon" id="salon" class="service__form_select" hx-trigger="change" hx-get="{% url 'appointment:get_services' %}" hx-target="#select_service" hx-include="[name='selectSalon'], [name='selectCategory'], [name='selectService'], [name='selectMaster'], [name='inputDate']">
              {% for salon in salons %}
                  <option value="{{ salon.id }}">{{ salon.title }}</option>
              {% endfor %}
          </select>

          <label for="category">Выберите категорию</label>
          <select name="selectCategory" id="category" class="service__form_select" hx-trigger="change" hx-get="{% url 'appointment:get_services' %}" hx-target="#select_service" hx-include="[name='selectSalon'], [name='selectCategory'], [name='selectService'], [name='selectMaster'], [name='inputDate']">
              {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}
          </select>

          <label for="select_service">Выберите услугу</label>
          <select name="selectService" id="select_service" class="service__form_select" hx-trigger="change" hx-get="{% url 'appointment:get_masters' %}" hx-target="#select_master" hx-include="[name='selectSalon'], [name='selectCategory'], [name='selectService'], [name='selectMaster'], [name='inputDate']">
          </select>

          <label for="select_master">Выберите мастера</label>
          <select name="selectMaster" id="select_master" class="service__form_select">
          </select>

          <label for="inputDate">Выберите дату</label>
          <input type="date" name="inputDate" id="inputDate" class="service__form_date service__form_select" hx-trigger="change" hx-get="{% url 'appointment:get_slots' %}" hx-target="#available_slots" hx-include="[name='selectSalon'], [name='selectCategory'], [name='selectService'], [name='selectMaster'], [name='inputDate']">

          <label for="available_slots">Доступные временные слоты</label>
          <select name="availableSlots" id="available_slots" class="service__form_select">
          </select>
          <div class="container">
            <div class="time">
              <div class="time__btns">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="time__btns_next active">Далее</button>
                    <button type="button" onclick="location.href='{% url 'index' %}'" class="time__btns_home">На главную</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
			</div>
		</div>
	</section>
{% endblock sections %}
	{% block footer %}
		{% include 'footers.html' %}
	{% endblock footer %}

	{% block scripts %}
		<script src="{% static 'js/htmx.min.js' %}"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{% static 'js/air-datepicker.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="{% static 'js/main.js' %}"></script>
	{% endblock scripts %}
